.home {
  display: flex;
  flex-wrap: wrap;

  &__intro, .sliderContainer, &__news {
    display: flex;
    width: 100%;
  }

  &__category-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    align-items: flex-end;
  
    a {
      background-color: #5A1F69;
      font-size: 18px;
      color: white;
      text-align: right;
      width: 185px;
      font-family: "Open Sans",sans-serif;
      padding: 5px 15px 5px 0;
      margin-top: 5px;
      
      &:hover {
        color: white;
      }
    }
  }
  &__category-tablet {
    display: none;
  }

  @media (min-width: 570px) {
    &__category-mobile {
      display: none;
    }
    &__category-tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 10px;
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
          padding: 5px 10px;
          text-align: center;
          width: auto;
          background-color: rgba(255, 255, 255, 0.8);
          color: #5A1F69;
          font-family: "Open Sans",sans-serif;
          margin-top: 5px;
          font-size: 18px;

          &:hover {
            color: #5A1F69;
          }
        }

        .home__category-icon {
          display: block;
          width: 75px;
          height: 75px;
          padding: 12px;
          border: 5px solid #5A1F69;
          background-color: #5A1F69;
          border-radius: 100%;
          margin-bottom: 12px;
        }
      }
    }
  }

  &__news {
    .info-block {
      .slider{
        margin-right: 20px;
      }
    }
  }


  .home__selfmade {
    width: 100%;
    display: flex;
    flex-direction: column;

    .info-block {
      align-items: flex-start;

      h3 {
        padding-left: 0;
      }

      p {
        text-align: left;
      }
    }
  }

  @media (min-width: 768px) {
    .slider {
      width: 60%
    }
    .home__intro {
      width: 40%;
      .info-block {
        margin-top: 0;
        height: 400px;
      }
    }

    .image-tiles {
      width: 60%;
    }
    .home__selfmade {
      width: 40%;
    }
  }

}


