.slider {
  position: relative;

  &__content-border {
    padding: 0 20px;
  }

  &__content-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    @media (min-width: 425px) {
      grid-template-columns: 50% 50%;
    }
    @media (min-width: 768px) {
      grid-template-columns: 33% 33% 34%;
    }
  }

  &__img {
    height: 250px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;

    @media (min-width: 425px) {
      height: 400px;
    }
  }

  &__arrow {
    &-left {
      position: absolute;
      top:50%;
      left: 0%;
    }
    &-right {
      position: absolute;
      top:50%;
      left:100%;
    }
  }

  .slider__multiple {
    margin-left: 12px;

    &-one,
    &-two {
      display: none;
    }

    @media (min-width: 425px) {
      &-one {
        display: block;
      }
    }
    @media (min-width: 768px) {
      &-two {
        display: block;
      }
    }
  }

  .card {
    min-height: 170px;

    &__img {
      display: none;
    }
  }
}